//===BASE===//
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

body {
	min-width: 240px;
	background: #FFF;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: square;
	list-style-position: inside;
}

ul ul {
	padding-left: 20px;
}

img {
	border: 0;
}

.content-wrapper {
	background: #FFF;
	margin-top: 390px;
	padding: 3%;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.index .content-wrapper {
	margin-top: 560px;
}

.content-section {
	max-width: 1200px;
	margin: 0 auto 3%;
	overflow: hidden;
}

.content-section img {
	width: 100%;
}

@media (min-width: 640px) {
	.content-wrapper {
		margin-top: 445px;
	}

	.index .content-wrapper {
		margin-top: 745px;
	}

	.content-section img {
		width: 65%;
	}
}