//===HEADER===//
header {
	width: 94%;
	background: #1E2024 url(images/bg.jpg);
	background-size: cover;
	padding: 8% 3% 6%;
	clear: both;
	overflow: hidden;
	color: #FFF;
}

#logo img {
	width: 100%;
	max-width: 600px;
}