article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  min-width: 240px;
  background: #FFF;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: square;
  list-style-position: inside;
}

ul ul {
  padding-left: 20px;
}

img {
  border: 0;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3%;
  overflow: hidden;
}

.content-section {
  margin-bottom: 3%;
  overflow: hidden;
}

.content-section img {
  width: 100%;
}

@media (min-width: 640px) {
  .content-section img {
    width: 65%;
  }
}
@font-face {
  font-family: 'Sosa';
  src: url("fonts/sosa-regular-webfont.eot");
  src: url("fonts/sosa-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sosa-regular-webfont.woff") format("woff"), url("fonts/sosa-regular-webfont.ttf") format("truetype"), url("fonts/sosa-regular-webfont.svg#sosa-regular-webfont") format("svg");
}

body {
  color: #222;
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
}

h2 {
  background: #98dce2;
  padding: 10px;
  display: inline-block;
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 20px 0;
}

a {
  color: #222222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.quote {
  font-size: 19px;
  font-style: italic;
}

@media (min-width: 640px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 19px;
  }
}
.half {
  width: 44%;
  padding: 0 3%;
  float: left;
}

.third {
  width: 94%;
  padding: 0 3%;
  float: left;
}

.quarter {
  width: 44%;
  padding: 0 3%;
  float: left;
}

@media (min-width: 640px) {
  .third {
    width: 27.33%;
    padding: 0 3%;
  }

  .quarter {
    width: 19%;
    padding: 0 3%;
  }
}
nav {
  background: #98dce2;
  overflow: hidden;
}

header {
  width: 94%;
  background: #1e2024 url(images/bg.jpg);
  background-size: cover;
  padding: 8% 3% 6%;
  clear: both;
  overflow: hidden;
  color: #FFF;
}

#logo img {
  width: 100%;
  max-width: 400px;
}

@media (min-width: 640px) {
  #logo img {
    max-width: 600px;
  }
}
footer {
  background: #eeeeee;
  padding: 3%;
  clear: both;
  overflow: hidden;
}

footer p {
  margin-top: 0;
}

#facebook-like-button {
  width: 81px;
  height: 21px;
  border: none;
}

#social-links {
  width: 100px;
  margin: 20px auto 0;
}

#social-links div {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  float: left;
  text-indent: -9999px;
  background-image: url(images/social-sprite.png);
}
@media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #social-links div {
    background-image: url(images/social-sprite_x2.png);
    background-size: 40px 85px;
  }
}

#social-links_facebook {
  margin-right: 10px;
}

#social-links_github {
  background-position: 0 -45px;
  margin-left: 10px;
}

.button {
  background: #98dce2;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #FFF;
  text-align: center;
  font-weight: 600;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #222222;
  color: #98dce2;
}

.button span {
  display: block;
}

.our-work-link {
  margin: 3% 0;
  display: block;
}

.box-wrapper {
  overflow: hidden;
}

.box {
  background: #eeeeee;
  display: inline-block;
  margin-bottom: 3%;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #222222;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

a .box:hover {
  background: #dddddd;
}

.thumb {
  width: 100%;
  max-width: 200px;
  border-radius: 200px;
}

.testimonial {
  width: 69%;
  margin-top: 3%;
  padding: 3%;
}

.testimonial p {
  font-style: italic;
}

@media (min-width: 640px) {
  .box-wrapper {
    background: #eeeeee;
  }

  .box {
    margin-bottom: 0;
  }
}
.icon {
  background: url(images/icon-sprite.png) no-repeat;
  margin: 0 auto;
  display: block;
  text-indent: -9999px;
}

.icon_large {
  width: 120px;
  height: 120px;
}

.icon_medium {
  width: 32px;
  height: 32px;
}

.icon_small {
  width: 16px;
  height: 16px;
}

.ff .icon {
  background: none;
  font-family: 'Sosa';
  font-size: 120px;
  line-height: 120px;
  font-weight: 400;
  text-indent: 0;
}
.ff .icon_medium {
  font-size: 32px;
  line-height: 32px;
}
.ff .icon_small {
  font-size: 16px;
  line-height: 16px;
}

.icon_about {
  background-position: center 0;
}

.icon_work {
  background-position: center -120px;
}

.icon_contact {
  background-position: center -240px;
}

.icon_left {
  background-position: center -360px;
}

.icon_right {
  background-position: center -392px;
}

.icon_left_disabled {
  background-position: center -424px;
}

.icon_right_disabled {
  background-position: center -456px;
}

.icon_link {
  background-position: center -488px;
}

.icon_quote_open {
  background-position: center -520px;
}

.icon_quote_close {
  background-position: center -536px;
}

.table {
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
}

.table-row {
  width: 100%;
  float: left;
}

.table-cell {
  width: 100%;
  float: left;
  padding: 10px 0;
}

.table-cell:nth-child(even) {
  background: #EEE;
}

@media (min-width: 640px) {
  .table-cell {
    width: 50%;
  }

  .table-row:nth-child(even) {
    background: #EEE;
  }

  .table-cell:nth-child(even) {
    background: none;
  }
}
